<!DOCTYPE html>
<html lang = "en">
<head> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>311 Login</title>
</head>
<body id="loginPage">
    <div class="form">
        <h1>ShrewTech Admin Login</h1>
        <form action=/form_login method="post">
            <input type="text" name="username" placeholder="Username" >
            <input type="password" name="password" placeholder="Password">
            <div>
                <button type="submit" value="Login">Login</button>
            </div> 
        </form>
    </div>
</body>
<div class="errorMessage">{{info}}</div>
</html>